/* BODY */

body {
	color: black; 
	background-color: #E0E0E0;
	font-size: 100.01%;
	font-family: 'Tahoma', sans-serif; 
	left:0%;
}
div#site {
	display:block;
	width:100%;
	top:50%;
	left:50%;
}
div#logo {
	display:inline;
	float:left;
	font-size: 100%; 
	width: 100px;
	height: 100px;
	font-weight: bold;
	text-align: center;
	background-color: #444;
	border: 5px;
	border-color: black;

}
div#logo a:link {
	color: white; background-color: #333;
}

div#logo a:visited {
	color: white; background-color: #333;
}

div#logo a:hover {
	color: black; background-color: white;
}

div#logo a:active {
	color: white; background-color: gray;
}

/*HEADER inculdes navigation*/

div#header {
	display:block;
	float:left;
	position:fixed;
	width:98.8%;
	height:100px;
	background-color: #385a8f;
}

/* NAVIGATION */

div#navigation {
	display:inline-block;
	float: right;
	width:80%;
	min-width: 80%;
	height:80px;
	font-size: 100%;
	padding-top: 20px;

}

div#navigation span {
	display:inline;
	margin-top: 100px;
	margin-right:1%;

	width: 10%;
	min-width: 8%;
}

div#navigation a {
	padding: 1em;
	font-weight: bold;
	text-align: right;
}

div#navigation a:link {
	color: black; background-color: #eee;
}

div#navigation a:visited {
	color: #222; background-color: #eee;
}

div#navigation a:hover {
	color: black; background-color: white;
}

div#navigation a:active {
	color: white; background-color: gray;
}

/*CONTENT*/

div#content {
	display: inline;
	float:right;
	width: 80%;
	padding: 10 10 10 10;
	margin-top: 100px;
	background-color: #888;
	
}

div#content h1 {
	font-size: 1.5em;
	margin: 0 0 1em;
}

div#content h2 {
	font-size: 1.2em;
	margin: 0 0 1em;
}

div#content p {
	font-size: 1em;
	margin: 1em 0;
}