.item{
	float:left;
	margin-left:10px;
	margin-top:10px;
	background:white;
	width: 210px;
	height:140px;
	box-shadow: 0px 0px 10px #333;
}

.initem{
	background: transparent;
	color:transparent;
	margin-top:75px;
	width: 200px;
	height: 50px;/*
	word-spacing: 30px;*/
	font-size: 1.2em;
	padding: 5px;
}

.initem a:link{
	text-decoration: none;
	color:#385a8f;
}

.initem a:visited{

	color:#385a8f;
}

.initem:hover a:visited {
	font-weight: bold; 
	color:white;
}

.initem a:hover{
	font-weight: bold; 
	color:white;
}

.initem:hover{
	width: 200px;
	height:50px;
	background-color: #385a8f;
	color: white;
	word-spacing: 30px;
	font-size: 1.2em;
	opacity: 0.7;
}

div#content {
	margin-top: 100px;
	margin-left: 10%;
	display: block;
	float: left;
	width: 80%;
	padding: 10 10 10 10;
	background-color: transparent;
}



