.item{
	float:left;
	margin-left:10px;
	margin-top:10px;
	background:white;
	width: 250px;
	height:200px;
}

.initem{
	background: transparent;
	color:transparent;
	margin-top:145px;
	width: 240px;
	height: 50px;/*
	word-spacing: 30px;*/
	font-size: 1.2em;
	padding: 5px;
}

.initem a:link{
	text-decoration: none;
	color:#385a8f;
}

.initem a:visited{

	color:#385a8f;
}

.initem:hover a:visited {
	font-weight: bold; 
	color:white;
}

.initem a:hover{
	font-weight: bold; 
	color:white;
}

.initem:hover{
	width: 240px;
	height:50px;
	background-color: #385a8f;
	color: white;
	word-spacing: 30px;
	font-size: 1.2em;

}

div#content {
	margin-top: 100px;
	display: block;
	float:right;
	width: 80%;
	padding: 10 10 10 10;
	background-color: #91B2DB;
	box-shadow: 0px 1px 10px #333;
}



