
@media screen and (max-width: 700px) {

			/* Custom scrollbar for webkit aka chrome & co */
			::-webkit-scrollbar {
				width: 24px;
				height: 24px;
			}
			 
			/* Track */
			::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
				-webkit-border-radius: 24px;
				border-radius: 24px;
			}
			 
			/* Handle */
			::-webkit-scrollbar-thumb {
				-webkit-border-radius: 24px;
				border-radius: 24px;
				background: rgba(220,100,50,0.8); 
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
			}
			::-webkit-scrollbar-thumb:window-inactive {
				background: rgba(200,50,25,0.4); 
			}

			/* BODY */

			body {
				color: black; 
				background-color: #E0E0E0;
				font-size: 100%;
				font-family: 'Tahoma', sans-serif; 
				left:0%;
			}
			div#site {
				display:block;
				width:100%;
				top:50%;
				left:50%;
			}


			/*HEADER inculdes navigation*/

			div#header {
				display:block;
				position:fixed;
				float:left;
				width:100%;
				height:100px;
				background-color: #385a8f;
			}

			div#logo {
				display:inline;
				float:left;
				font-size: 100%; 
				width: 100px;
				height: 100px;
				font-weight: bold;
				text-align: center;
				background-color: #444;
				border: 5px;
				border-color: black;

			}
			div#logo a:link {
				color: white; background-color: #333;
			}

			div#logo a:visited {
				color: white; background-color: #333;
			}

			div#logo a:hover {
				color: black; background-color: white;
			}

			div#logo a:active {
				color: white; background-color: gray;
			}


			/*Searchbar*/
			div.searchbar {
				display: block;
				float:inherit;
				font-size: 80%;
				width:100%;
				min-width: 100%;
				height: 100%;
				color: #fff;
				/*background: #4e80cc;*/
			}
			div.searchbar ul {
				list-style:none;
			}
			div.searchbar ul li{
				display:inline;
				height: 100%;
			}
			div.searchbar ul li input.searchtext {
				width: 90%;

				height:80%;
			}

			/* NAVIGATION */

			div#navigation {
				display:block;
				float: left;
				width:100%;
				height:80px;
				font-size: 100%;

			}

			/*DROPDOWN MENU*/

			ul.topnav {
				list-style: none;
				padding: 0 0;	
				/*margin-left: 40%;*/
				float: right;
				width: 70%;
				/*background: #222;*/
				font-size: 120%;

				/*background: url(topnav_bg.gif) repeat-x;*/
			}
			ul.topnav li {
				width: 30%;
				float: right;
				padding: 0 5px 0 0;
				position: relative; --Declare X and Y axis base for sub navigation--*/
			}
			ul.topnav li a{
				padding: 20px 0px;
				height: 100%;
				color: #fff;
				display: block;
				text-decoration: none;
				float: right;
			}
			ul.topnav li a:hover{
				color:#bbb;
			/*	border-top: 1px solid #252525; /*--Create bevel effect--*/
			}
			ul.topnav li span { /*--Drop down trigger styles--*/
				height: 100%;
				float: left;
				/*background: url(subnav_btn.gif) no-repeat center top;*/
			}
			ul.topnav li span.subhover {
				background-position: center bottom; 
				cursor: pointer;

				} /*--Hover effect for trigger--*/
			ul.topnav li ul.subnav {
				list-style: none;
				position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
				right: 0; top: 45px;
					font-size: 100%;
				background: #333;
				margin: 0; padding: 0;
				font-size: 80%;
				display: none;
				float: right;
				width: 120px;
				border: 1px solid #111;
			}
			ul.topnav li ul.subnav li{
				margin: 0; padding: 0;
				border-top: 1px solid #252525; /*--Create bevel effect--*/
				border-bottom: 1px solid #444; /*--Create bevel effect--*/
				clear: both;
				width: 120px;
			}

			html ul.topnav li ul.subnav li a {
				float: left;
				width: 95px;
				/*background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;*/
				padding-left: 20px;
			}
			html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
				background: #222;
			}
}




@media screen and (min-width: 701px) {

			/* Custom scrollbar for webkit aka chrome & co */
			::-webkit-scrollbar {
				width: 24px;
				height: 24px;
			}
			 
			/* Track */
			::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
				-webkit-border-radius: 24px;
				border-radius: 24px;
			}
			 
			/* Handle */
			::-webkit-scrollbar-thumb {
				-webkit-border-radius: 24px;
				border-radius: 24px;
				background: rgba(220,100,50,0.8); 
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
			}
			::-webkit-scrollbar-thumb:window-inactive {
				background: rgba(200,50,25,0.4); 
			}

			/* BODY */

			body {
				color: black; 
				background-color: #E0E0E0;
				font-size: 100%;
				font-family: 'Tahoma', sans-serif; 
				left:0%;
			}
			div#site {
				display:block;
				width:100%;
				top:50%;
				left:50%;
			}


			/*HEADER inculdes navigation*/

			div#header {
				display:block;
				position:fixed;
				float:left;
				width:100%;
				height:100px;
				background-color: #385a8f;
			}

			div#logo {
				display:inline;
				float:left;
				font-size: 100%; 
				width: 100px;
				height: 100px;
				font-weight: bold;
				text-align: center;
				background-color: #444;
				border: 5px;
				border-color: black;

			}
			div#logo a:link {
				color: white; background-color: #333;
			}

			div#logo a:visited {
				color: white; background-color: #333;
			}

			div#logo a:hover {
				color: black; background-color: white;
			}

			div#logo a:active {
				color: white; background-color: gray;
			}


			/*Searchbar*/
			div.searchbar {
				display: inline-block;
				float:left;
				font-size: 100%;
				width:360px;
				height: 100%;
				color: #fff;
				/*background: #4e80cc;*/
			}
			div.searchbar ul {
				list-style:none;
			}
			div.searchbar ul li{
			 position: relative;
				display:inline;
				height: 100%;
			}
			div.searchbar ul li input.searchtext {
				width: 300px;
				height:80%;
			}

			/* NAVIGATION */

			div#navigation {
				display:inline;
				float: right;
				width:30%;
				height:80px;
				font-size: 100%;

			}

			/*DROPDOWN MENU*/

			ul.topnav {
				list-style: none;
				display: inline;
				padding: 0 0;	
				/*margin-left: 40%;*/
				float: right;
				width: 35%;
				/*background: #222;*/
				font-size: 120%;

				/*background: url(topnav_bg.gif) repeat-x;*/
			}
			ul.topnav li {
				width: 30%;
				float: right;
				padding: 0 5px 0 0;
				position: relative; --Declare X and Y axis base for sub navigation--*/
			}
			ul.topnav li a{
				padding: 20px 0px;
				height: 100%;
				color: #fff;
				display: inline;
				text-decoration: none;
				float: right;
			}
			ul.topnav li a:hover{
				color:#bbb;
			/*	border-top: 1px solid #252525; /*--Create bevel effect--*/
			}
			ul.topnav li span { /*--Drop down trigger styles--*/
				height: 100%;
				float: left;
				/*background: url(subnav_btn.gif) no-repeat center top;*/
			}
			ul.topnav li span.subhover {
				background-position: center bottom; 
				cursor: pointer;

				} /*--Hover effect for trigger--*/
			ul.topnav li ul.subnav {
				list-style: none;
				position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
				right: 0; top: 45px;
					font-size: 100%;
				background: #333;
				margin: 0; padding: 0;
				font-size: 80%;
				display: none;
				float: right;
				width: 120px;
				border: 1px solid #111;
			}
			ul.topnav li ul.subnav li{
				margin: 0; padding: 0;
				border-top: 1px solid #252525; /*--Create bevel effect--*/
				border-bottom: 1px solid #444; /*--Create bevel effect--*/
				clear: both;
				width: 120px;
			}

			html ul.topnav li ul.subnav li a {
				float: left;
				width: 95px;
				/*background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;*/
				padding-left: 20px;
			}
			html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
				background: #222;
			}
}

