/* BODY */

body {
	color: black; 
	background-color: #ddf;
	font-size: 100.01%;
	font-family: 'Tahoma', sans-serif; 
	left:0%;
}
div#site {
	display:block;
	width:100%;
	top:50%;
	left:50%;
}
div#logo {
	display:inline;
	float:left;
	font-size: 80px; 
	width: 100px;
	height: 100px;
	font-weight: bold;
	text-align: center;
	background-color: #444;
	border: 5px;
	border-color: black;

}
div#logo a:link {
	color: white; text-decoration: none;
}

div#logo a:visited {
	color: white; text-decoration: none;
}

div#logo a:hover {
	color: black; font-weight: bold; text-decoration: none;
}

div#logo a:active {
	color: white; font-weight: bold; text-decoration: none;
}

/*HEADER inculdes navigation*/

div#header {
	display:block;
	float:left;
	width:100%;
	height:100px;
	background-color: #385a8f;
}

/* NAVIGATION */

div#navigation {
	display:inline;
	float: right;
	width:80%;
	height:80px;
	font-size: 100%;
	padding-top: 20px;

}

/*div#navigation span {
	display:inline;
	margin-top: 100px;
	margin-right:1%;

	width: 10%;
	min-width: 8%;
}

div#navigation a {
	padding: 1em;
	font-weight: bold;
	text-align: right;
}

div#navigation a:link {
	color: black; background-color: #eee;
}

div#navigation a:visited {
	color: #222; background-color: #eee;
}

div#navigation a:hover {
	color: black; background-color: white;
}

div#navigation a:active {
	color: white; background-color: gray;
}*/

/*CONTENT*/

div#content {
	display: block;
	float:right;
	width: 70%;
	padding: 10 10 10 10;
	background-color: #88f;

	
}

div#content h1 {
	font-size: 1.5em;
	margin: 0 0 1em;
}

div#content h2 {
	font-size: 1.2em;
	margin: 0 0 1em;
}

div#content p {
	font-size: 1em;
	margin: 1em 0;
}



/*Searchbar*/
div.searchbar {
	display: block;
	float:left;
	font-size: 80%;
	width:100%;
	height: 60px;
		color: #fff;
	background: #4e80cc;
}
div.searchbar ul {
	list-style:none;
	margin-left: 25%;
}
div.searchbar ul li{
 position: relative;
	display:inline;
	height: 100%;
}
div.searchbar ul li input.searchtext {
	width: 30%;
	height:80%;
}

/*DROPDOWN MENU*/

ul.topnav {
	list-style: none;
	padding: 0 0;	
	margin-left: 40%;
	float: right;
	width: 80%;
	/*background: #222;*/
	font-size: 120%;
	/*background: url(topnav_bg.gif) repeat-x;*/
}
ul.topnav li {
	width: 20%;
	float: left;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	height: 100%;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	color:#bbb;
/*	border-top: 1px solid #252525; /*--Create bevel effect--*/
}
ul.topnav li span { /*--Drop down trigger styles--*/
	height: 100%;
	float: left;
	/*background: url(subnav_btn.gif) no-repeat center top;*/
}
ul.topnav li span.subhover {
	background-position: center bottom; 
	cursor: pointer;
	} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}

html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	/*background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;*/
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222;
}


