body {
	color: black; 
	background-color: #E0E0E0;
	font-family: 'Tahoma', sans-serif;
}

.visible, .hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s 0.2s, opacity 0.2s linear;
	-moz-transition: visibility 0s 0.2s, opacity 0.2s linear;
	-o-transition: visibility 0s 0.2s, opacity 0.2s linear;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}
.visible > div, .hidden > div {
  /* Put any padding, border, min-height, etc. here. */

}
.hidden > div {
	margin-top: -10000px;
	-webkit-transition: margin-top 0s 0.2s;
	-moz-transition: margin-top 0s 0.2s;
	-o-transition: margin-top 0s 0.2s;
	transition: margin-top 0s 0.2s;
}

div#tools {
	float: left;
	width: 8em;
	padding: 0.5em;
	padding-top: 2em;
	background-color: #777;
}

div#tools li {
	padding: 5px;
	margin-bottom: 3px;
	height: 1.5em;
	list-style-type: none;
	background-color: #bbb;
	border: 1px solid;
	border-color: #666;
}

div#tools ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

div#tools a:link {
	color: black; background-color: #444; text-decoration: none;
}

div#tools a:visited {
	color: black; background-color: #444; text-decoration: none;
}

div#tools a:hover {
	color: white; background-color: #222; text-decoration: none;
}

div#tools a:active {
	color: green; background-color: #fff; text-decoration: none;
}

div#content {
	/*margin-left: 9em;*/
}

.contentspace {
	margin-left: 9em;
}

.contentnospace {
	margin-left: 0em;
}

div#share {
	margin-left: 0.5em;
	float: left;
}

div#publish {
	margin-top: 22em;
	width: 7em;
	padding: 5px;
	text-align: center;
	border: 1px solid;
	border-color: #666;
	background-color: #6f6;
}

div#show {
	width: 7em;
	padding: 1px;
	text-align: center;
	border: 1px solid;
	border-color: #666;
	background-color: #6f6;
	float: left;
}

canvas#canvas {
	width: 960px;
	height: 640px;
	border: 1px solid;
	border-color: #333;
	background-color: #fff;
	float: left;
}