body {
	color: black; 
	background-color: #E0E0E0;
	font-family: 'Tahoma', sans-serif;
}

.visible, .hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s 0.2s, opacity 0.2s linear;
	-moz-transition: visibility 0s 0.2s, opacity 0.2s linear;
	-o-transition: visibility 0s 0.2s, opacity 0.2s linear;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}
.visible > div, .hidden > div {
  /* Put any padding, border, min-height, etc. here. */

}
.hidden > div {
	margin-top: -10000px;
	-webkit-transition: margin-top 0s 0.2s;
	-moz-transition: margin-top 0s 0.2s;
	-o-transition: margin-top 0s 0.2s;
	transition: margin-top 0s 0.2s;
}

div#tools {
	float: left;
	width: 8em;
	padding: 0.5em;
	padding-top: 2em;
	background-color: transparent;

}

div#tools li {
	padding: 5px;
	margin-bottom: 3px;
	height: 1.5em;
	list-style-type: none;
	background-color: #bbb;
	border: 1px solid;
	border-color: #666;
	
}

div#tools ul {
	display: block;
	
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

}

div#tools a:link {
	color: black; background-color: #444; text-decoration: none;
}

div#tools a:visited {
	color: black; background-color: #444; text-decoration: none;
}

div#tools a:hover {
	color: white; background-color: #222; text-decoration: none;
}

div#tools a:active {
	color: green; background-color: #fff; text-decoration: none;
}

div#content {
	/*margin-left: 9em;*/
}

.contentspace {
	margin-left: 9em;
}

.contentnospace {
	margin-left: 0em;
}

div#share {
	margin-left: 0.5em;
	float: left;
}

div#publish {
	margin-top: 22em;
	width: 7em;
	padding: 5px;
	text-align: center;
	border: 1px solid;
	border-color: #666;
	background-color: #6f6;
}

div#show {
	width: 7em;
	padding: 1px;
	text-align: center;
	border: 1px solid;
	border-color: #666;
	background-color: #6f6;
	float: left;
}

canvas#canvas {
	width: 960px;
	height: 640px;
	border: 1px solid;
	border-color: #333;
	background-color: #fff;
	float: left;
	
}

#clear{
	margin-top: 10px;
	float: left;
	width: 120px;
	height: 20px;
	background-color:lightgrey;
}

#clear:hover{
	width: 118px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#publish{
	width: 120px;
	height: 40px;
	margin-left: 5px;
	border: none;
	background-color: lightgrey;

}

#publish:hover{
	width: 118px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#stepback{
	margin-top: 10px;
	width: 55px;
	height: 20px;
	background-color: lightgrey;
	float: left;
}

#stepback:hover{
	width: 53px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#stepforward{
	margin-top: 10px;
	width: 55px;
	height: 20px;
	background-color: lightgrey;
	float: right;
}

#stepforward:hover{
	width: 53px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#color1{
	
	width: 120px;
	height: 80px;
	background-color: darkgrey;
	float: left;
}

#cbox{
	width: 40px;
	height: 40px;
	background-color: #FF0000;
	float: left;
}

#cbox:hover{
	width: 38px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#cbox1{
	width: 40px;
	height: 40px;
	background-color: green;
	float: left;
}

#cbox1:hover{
	width: 38px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#cbox2{
	width: 40px;
	height: 40px;
	background-color: blue;
	float: left;
}

#cbox2:hover{
	width: 38px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#cbox3{
	width: 40px;
	height: 40px;
	background-color: black;
	float: left;
}

#cbox3:hover{
	width: 38px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#cbox4{
	width: 40px;
	height: 40px;
	background-color: FFFF00;
	float: left;
}

#cbox4:hover{
	width: 38px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#cbox5{
	width: 40px;
	height: 40px;
	background-color: FF00FF;
	float: left;
}

#cbox5:hover{
	width: 38px;
	height: 38px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}


#shadow{
	margin-top: 20px;
	float: left;
	margin-right: 5px;
	width: 120px;
	height: 20px;
	background-color: lightgrey;
	text-align: center;
}

#shadow:hover{
	width: 118px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#block{
	margin-top: 20px;
	float: left;
	margin-right: 5px;
	width: 120px;
	height: 20px;
	background-color: lightgrey;
	text-align: center;
}

#block:hover{
	width: 118px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#round{
	margin-top: 20px;
	float: left;
	margin-right: 5px;
	width: 120px;
	height: 20px;
	background-color: lightgrey;
	text-align: center;
}

#round:hover{
	width: 118px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#split{
	margin-top: 20px;
	float: left;
	margin-right: 5px;
	width: 120px;
	height: 20px;
	background-color: lightgrey;
	text-align: center;
}

#split:hover{
	width: 118px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#rubber{
	margin-top: 10px;
	float: left;
	width: 120px;
	height: 20px;
	background-color: lightgrey;
}


#rubber:hover{
	width: 118px;
	height: 18px;
	border-style:solid;
	border-width:1px;
	border-color: white;
}

#bar{

margin-top: 140px;
font-size: 14px;
}

#resultDicke{

	width: 30px;
	height: 20px;
	background-color:grey;
	color: white;
}

#resultTrans{

	width: 30px;
	height: 20px;
	background-color:grey;
	color: white;
}

#blackbox{

	background-color: transparent;
	width: 110px;
	height: 140px;
	text-align: center;
}