

/*CONTENT*/

/*div#canvas {
	display: block;
	float:right;
	width:1475; 
	height:503; 
	padding:20 20 20 20;
	margin-top: 100px;
	background-color: #ffffff;
	
}*/

body {
	overflow:auto;


}
#clippingMask {
	width:100%;
	height:100%;

}
.mapCell {
	width: 210px;
	height: 140px;
	background: #ffffff;
	float:left;
	display: inline-block;


}
.rightMapCell {
	width: 210px;
	height: 140px;
	background: #ffffff;
	float:left;
	display: inline-block;


}
.scribble {
	width: 210px;
	height:140px;
	opacity: 0.75;
}



#divCanvas {
	width:5670px;
	height: 2520px;	
}

#leftProcessBar {
	position: fixed;
	display:none;
	float: left;
	top:50%;
	left:10px;
    width: 16px;
    height: 16px;
    background: url('../img/ico/color_wheel.png');
}

#rightProcessBar {
	position: fixed;
	display:none;
	top:50%;
	right:10px;
    width: 16px;
    height: 16px;
    background: url('../img/ico/color_wheel.png');
}

#topProcessBar {
	position: fixed;
	display:none;
	top:60px;
	left:50%;
    width: 16px;
    height: 16px;
    background: url('../img/ico/color_wheel.png');
}

#bottomProcessBar {
	position: fixed;
	display:none;
	bottom:10px;
	left:50%;
    width: 16px;
    height: 16px;
    background: url('../img/ico/color_wheel.png');
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}




/************************ viewOverlay ***************************/

/*CONTENT*/

div#viewOverlay {
	position: fixed;
	display:none;
	opacity : 0;
	top:0px;
	left:0px;
    width: 100%;
	background-color: transparent;

	
}

.table {
	display: table;
	width: 100%;
	vertical-align: middle;
}

.row {
	display: table-row;
	vertical-align: middle;
}


#topneightbour { 
	width: 80%;
	height: 100px;
	float: left;
	vertical-align: bottom;
	background-position: bottom;
	background-size: 100% 500%;
	box-shadow: 0px 0px 10px #111;
}
#rightneightbour {
	width: 10%;
	height: 420px;
	float: left;
	background-position: left;
	background-size: 900% 100%;
	box-shadow: 0px 0px 10px #111;
}
#bottomneightbour {
	width: 80%;
	height: 100px;
	float: left;
	vertical-align: top;
	background-position: top;
	background-size: 100% 500%;
	box-shadow: 0px 0px 10px #111;
}
#leftneightbour {
	width: 10%;
	height: 420px;
	float: left;
	background-position: right;
	background-size: 900% 100%;
	box-shadow: 0px 0px 10px #111;
}

div#picture {
	
	box-shadow: 0px 0px 10px #333;
	float: left;
	/*border: 1px solid black;*/
	height: 420px; width: 80%;
	background-size: 100% 100%;
	background-color: white;
	z-index: 100; 
}

#painthorz {
	background-color: #7600C9;
	text-align: center;
	width: 80%;
	height: 100px;
	vertical-align: middle;
	/*border: 1px solid black;*/
	float: left;
	box-shadow: 0px 0px 10px #111;
}

#paintvert {
	background-color: #7600C9;
	text-align: center;
	width: 100px;
	height: 420px;
	vertical-align: middle;
	/*border: 1px solid black;*/
	float: left;
	box-shadow: 0px 0px 10px #111;
}

.corner {
	width: 10%;
	height: 100px;
	vertical-align: middle;
	/*border: 1px solid black;*/
	background-color: white;
	float: left;
	box-shadow: 0px 0px 10px #111;
}

div#from{
	background-color: transparent;
	opacity: 0;
	/*margin: 10px;*/
	margin-top: 10%;
	margin-bottom: 70%;
	margin-left: 20px;
	width: 30%;
	height: 20%;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 0px 0px 10px #111;
	text-align: left;
	/*vertical-align: middle;*/
	/*box-shadow: 5px;*/
}

div#picture:hover div#from {
	background-color: white;
	opacity: 0.8;
}

div#showcomments {
	width: 60%;
	text-align: center;

	margin-top: 0px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5px;
}

a:link {
	text-decoration: none;
	color: #224189;
}

a:visited {
	text-decoration: none;
	color: #224189;
}

a:hover {
	text-decoration: overline;
	color: #FF7529;
}

div#comments {
	width: 100%;
}

canvas#canvas {
	width: 150px;
	height: 150px;
	/*box-shadow: 0px 0px 9px #444;*/
/*	border: 1px solid;
border-color: #333;*/
background-color: white;
display:inline-block;
border-style:solid;
border-width:5px;
float:left;
}

div#canvasholder {
	float: left;
	width: 100%;
	position: relative;
}

hr#bar {
	background-color: transparent;
	box-shadow: 0px 0px 5px #006;

}

div#submitcomment {
	display: inline;
	padding: 0.5em;
	background-color: #5BFF85;
	text-align: center;
	width:50px;
	float: right;
	

	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	
	box-shadow: 0px -3px 6px #444;
}

div#clear {
	display: ;
	padding: 0.5em;
	background-color: #FF5050;
	text-align: center;
	float:right;
	width:50px;
	margin-left: 60px;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	
	box-shadow: 0px -3px 6px #444;
}

div#makecomment {
	display:inline-block;

}
div#commentBlock {
	position: absolute; top: 420px; right: 0;
}

div#commentlist {
	display:inline-block;
	background-color: #2D508D;
	width: 70%;
	overflow-x: scroll;
	overflow-y: hidden;
	text-align: left;
	box-shadow: 0px 0px 9px #444;
}

div#commentholder{
	display:inline-block;
	height: 170px;
}

div#usercomment {

}

.item{
	float:left;
	margin-left:10px;
	margin-top: -10px;
	margin-bottom: 10px;
	background:white;
	width: 150px;
	height: 150px;
	padding: 5px;
}

.initem{
	background: transparent;
	color:transparent;
	margin-top: 90px;
	margin-left: -5px;
	width: 150px;
	height: 50px;
	font-size: 1.2em;
	padding: 5px;
}

.initem a:link{
	text-decoration: none;
	color:#385a8f;
}

.initem a:visited{

	color:#385a8f;
}

.initem:hover a:visited {
	font-weight: lighter; 
	color:white;
}

.initem:hover a:link {
	font-weight: lighter; 
	color:white;
}

.initem:hover a:hover {
	font-weight: bolder; 
	color:white;
}

.initem a:hover{
	font-weight: bold; 
	color:white;
}

.initem:hover{
	width: 150px;
	height:50px;
	background-color: #385a8f;
	opacity: 0.7;
	color: white;
	word-spacing: 30px;
	font-size: 1.2em;

}

.visible, .hidden {
	overflow: hidden;
	/* This container should not have padding, borders, etc. */
}
.visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s 0.2s, opacity 0.2s linear;
	-moz-transition: visibility 0s 0.2s, opacity 0.2s linear;
	-o-transition: visibility 0s 0.2s, opacity 0.2s linear;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}
.visible > div, .hidden > div {
	/* Put any padding, border, min-height, etc. here. */

}
.hidden > div {
	margin-top: -10000px;
	-webkit-transition: margin-top 0s 0.2s;
	-moz-transition: margin-top 0s 0.2s;
	-o-transition: margin-top 0s 0.2s;
	transition: margin-top 0s 0.2s;
}
