
@media screen and (max-width: 700px) {

/*div#canvas {
	display: block;
	float:right;
	width:1475px; 
	height:403; 
	padding:20 20 20 20;
	margin-top: 200px;
	background-color: #ffffff;
	
}*/
.table {
    display: table;
  
    


}

.row {

    display:table-row;
    	height: 840px;	
    clear: both;

}

.cell {
	width:1890px;

    display: table-cell;
	position: relative;
    /*border: 1px solid black;*/
}


#clippingMask {
	width:100;
	height:100%;

}
.mapCell {
	width: 210px;
	height: 140px;
	position: absolute;


}
}


@media screen and (min-width: 701px) {

/*CONTENT*/

/*div#canvas {
	display: block;
	float:right;
	width:1475; 
	height:503; 
	padding:20 20 20 20;
	margin-top: 100px;
	background-color: #ffffff;
	
}*/

body {
	overflow:auto;
}

.table {
    display: table;
}

.row {
    display:table-row;
}

.cell {
	width:1890px;
	height: 840px;	
    display: table-cell;
	position: relative;
    /*border: 1px solid black;*/
}


#clippingMask {
	width:100%;
	height:100%;

}
.mapCell {
	width: 210px;
	height: 140px;
	background: #ffffff;
	float:left;
	display: inline-block;


}
.rightMapCell {
	width: 210px;
	height: 140px;
	background: #ffffff;
	float:left;
	display: inline-block;


}
.scribble {
	width: 210px;
	height:140px;
	opacity: 0.75;
}



#divCanvas {
	width:5670px;
	height: 2520px;	
}

#leftProcessBar {
	position: absolute;
	float: left;
	top:50%;
	left:0px;
    width: 32px;
    height: 32px;
    background: url('../img/ico/color_wheel.png');
}

#rightProcessBar {
	position: absolute;
	top:50%;
	right:0px;
    width: 32px;
    height: 32px;
    background: url('../img/ico/color_wheel.png');
}

#topProcessBar {
	position: absolute;
	top:0px;
	left:50%;
	width: 32px;
    height: 32px;
    background: url('../img/ico/color_wheel.png');
}

#bottomProcessBar {
	position: absolute;
	bottom:0px;
	left:50%;
    width: 32px;
    height: 32px;
    background: url('../img/ico/color_wheel.png');
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}
