
div#content {
	display: block;
	margin-top: 100px;
	float:right;
	width: 100%;
	padding: 10 10 10 10;
	background-color: #888;

	
}


.profitem{
	
	margin-left:10px;
	margin-top:10px;
	background:white;
	width: 180px;
	height:150px;
	overflow: auto;
	float: left;
	
}

.horizontalbar{

	width: 100%;
	height: 150px;
	overflow-x: scroll;
    overflow-y: hidden;
}

.holder{

	width: 300%;
	height: 400px;
}
.profilinfo {
			display: inline-block;
	float:left;
	width: auto;
	padding: 20px 20px 20px 20px;
	background-color: #888;
}
.wrapper {
		display: inline;
	float:right;
	width: 70%;
	padding: 10 10 10 10;
	background-color: #888;

}
